{{!-- <div class="tile is-12">
    <div class="card"> --}}
        <div class="column has-text-white has-background-dark has-text-centered">
        <header class="card-header columns is-multiline ">
            <p class="card-header-title has-text-centered column is-full has-text-white">
                {{ business_name}}
            </p>
            <a href="/api/search/{{id}}" class="column is-full">
                <div class="card-header-icon ">
                    <div class="icon-text">
                        <span class="icon has-text-info">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>Information</span>
                    </div>
                </div>

            </a>
        </header>
        <div class="card-content">
            <div class="content">
                Rating: {{ overall_rating }}
            </div>
            <div class="content">
                Street Address: {{ street_address }}
            </div>
            <div class="content">
                City: {{ city }}, State: {{ state }}
            </div>
            <div class="content">
                Zipcode: {{ zipcode }}
            </div>
        </div>
        </div>
        {{!--
    </div>
</div> --}}