{{!-- <div class="tile is-12">
    <div class="card"> --}}
        <div class="column has-text-white has-background-dark has-text-centered">
      <div>
          <h1 class="is-size-4 mb-3 has-text-weight-semibold">Search Results</h1>
          </div>
            <header class="card-header columns is-multiline ">
                <p class="card-header-title has-text-centered column is-full has-text-white">
                    {{#if bathroom}}
                    {{ bathroom.business_name}}
                    {{else}}
                    {{business_name}}
                    {{/if}}
                </p>
                {{#if bathroom}}
                <a href="/api/search/{{bathroom.id}}" class="column is-full">
                {{else}}
                <a href="/api/search/{{id}}" class="column is-full">
                {{/if}}
                    <div class="card-header-icon ">
                        <div class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span>Information</span>
                        </div>
                    </div>

                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    {{#if bathroom}}
                    Rating: {{ bathroom.overall_rating }}
                    {{else}}
                    Rating: {{ overall_rating }}
                    {{/if}}
                </div>
                <div class="content">
                    {{#if bathroom}}
                    Street Address: {{ bathroom.street_address }}
                    {{else}}
                    Street Address: {{ street_address }}
                    {{/if}}

                </div>
                <div class="content">
                    {{#if bathroom}}
                    City: {{ bathroom.city }}, State: {{ bathroom.state }}
                    {{else}}
                    City: {{ city }}, State: {{ state }}
                    {{/if}}

                </div>
                <div class="content">
                    {{#if bathroom}}
                    Zipcode: {{ bathroom.zipcode }}
                    {{else}}
                    Zipcode: {{ zipcode }}
                    {{/if}}

                </div>
            </div>
        </div>

        {{!--
    </div>
</div> --}}