<div class="column">
    <div class="content column is-full" data-id="{{id}}">
        <h2 class="is-size-4 has-text-weight-semibold has-text-centered">Reviews & Comments</h2>
        <h4>By User: {{user.name}}</h4>
        <h4> Date: {{ format_date createdAt}} </h4>

    </div>
    <div class="card column is-full">
        <header class="card-header">
            <p class="card-header-title">
                {{ title }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{ review_text }}</p>
            </div>
        </div>

    </div>
    <div class="content has-text-centered column is-full ">
        <h5 class="m-1">Comments</h5>
    </div>
    {{#each comments}}
    <div class="column is-8 is-offset-2">
        {{>comment}}
    </div>
    {{/each}}
    <div class="has-text-centered">
        <button class="button is-primary is-focused mr-4 new-comment has-text-centered">
            New Comment
        </button>
    </div>
    <div class="form" id="comment-form">
        <div class="field block">
            <label class="label">Comment Text</label>
            <div class="control">
                <input class="input" type="textarea" placeholder="Enter Your Comment Here" id="comment-text">
            </div>
        </div>
        <div class="field block m-4 has-text-centered">
            <button class="button is-primary is-focused mr-4 submit-comment ">
                Add Comment
            </button>
        </div>
    </div>
</div>